@charset "UTF-8";
body {
  background-color: #eee; }

.animate {
  border: 1px solid #eee; }
  .animate img {
    width: 100%;
    height: auto; }
  .animate.overflowHidden {
    overflow: hidden; }

.animate.about {
  border: 1px solid green;
  width: 136px;
  height: 134px;
  position: relative;
  cursor: pointer; }
  .animate.about .item {
    position: absolute; }
  .animate.about .ani_1 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.about .ani_2 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.about .ani_3 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.about .ani_4 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.about .ani_5 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.about .ani_1 {
    left: 0;
    top: 0;
    width: 68%; }
  .animate.about .ani_2 {
    left: 0;
    bottom: 0;
    width: 68%;
    z-index: 2; }
  .animate.about .ani_3 {
    right: 0;
    bottom: 0;
    width: 50%; }
  .animate.about .ani_4 {
    right: 20%;
    bottom: 10%;
    width: 50%;
    z-index: 4; }
  .animate.about .ani_5 {
    right: 55%;
    bottom: 20%;
    width: 25%;
    z-index: 3; }
  .animate.about:hover .ani_1 {
    left: 3%; }
  .animate.about:hover .ani_2 {
    left: 5%;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .animate.about:hover .ani_3 {
    right: 3%; }
  .animate.about:hover .ani_4 {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  .animate.about:hover .ani_5 {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    right: 53%; }

.animate.intro {
  border: 1px solid green;
  width: 126px;
  height: 133px;
  position: relative;
  cursor: pointer; }
  .animate.intro .ani_1 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.intro .ani_2 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.intro .ani_3 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.intro .ani_4 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.intro .ani_5 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.intro .item {
    position: absolute; }
  .animate.intro .ani_1 {
    left: 0;
    bottom: 0;
    width: 100%; }
  .animate.intro .ani_2 {
    left: 32%;
    top: 42%;
    width: 12%; }
  .animate.intro .ani_3 {
    right: 0;
    top: 8%;
    width: 19%; }
  .animate.intro .ani_4 {
    left: 24%;
    top: 25%;
    width: 29%; }
  .animate.intro .ani_5 {
    left: 0;
    bottom: 5%;
    width: 58%; }
  .animate.intro:hover .ani_2 {
    top: 40%; }
  .animate.intro:hover .ani_3 {
    top: 0; }
  .animate.intro:hover .ani_4 {
    top: 23%; }
  .animate.intro:hover .ani_5 {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }

.animate.works {
  border: 1px solid green;
  width: 126px;
  height: 132px;
  position: relative;
  cursor: pointer; }
  .animate.works .ani_1 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.works .ani_2 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.works .ani_3 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.works .ani_4 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.works .item {
    position: absolute; }
  .animate.works .ani_1 {
    width: 71%;
    right: 0;
    bottom: 0; }
  .animate.works .ani_2 {
    width: 54%;
    right: 10%;
    top: 0; }
  .animate.works .ani_3 {
    width: 55%;
    left: 5%;
    bottom: 0; }
  .animate.works .ani_4 {
    width: 60%;
    right: 5%;
    bottom: 0; }
  .animate.works:hover .ani_2 {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  .animate.works:hover .ani_3 {
    left: 0%; }
  .animate.works:hover .ani_4 {
    right: 10%; }

.animate.feature {
  border: 1px solid green;
  width: 155px;
  height: 122px;
  position: relative;
  cursor: pointer; }
  .animate.feature .ani_1 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.feature .ani_2 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.feature .ani_3 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.feature .ani_4 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.feature .ani_5 {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .animate.feature .item {
    position: absolute; }
  .animate.feature .ani_1 {
    width: 55%;
    left: 0;
    bottom: 0; }
  .animate.feature .ani_2 {
    width: 45%;
    right: 0;
    bottom: 0; }
  .animate.feature .ani_3 {
    width: 30%;
    left: 25%;
    bottom: 0%;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left; }
  .animate.feature .ani_4 {
    width: 30%;
    right: 15%;
    bottom: 0%;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right; }
  .animate.feature .ani_5 {
    width: 13%;
    left: 50%; }
  .animate.feature:hover .ani_1 {
    left: -3%; }
  .animate.feature:hover .ani_2 {
    right: -3%; }
  .animate.feature:hover .ani_3 {
    left: 29%;
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  .animate.feature:hover .ani_4 {
    right: 19%;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
  .animate.feature:hover .ani_5 {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    left: 52%; }

.animate.about_conent {
  border: 1px solid green;
  width: 718px;
  height: 514px;
  position: relative;
  cursor: pointer; }
  .animate.about_conent .item {
    position: absolute; }
  .animate.about_conent .ani_1 {
    width: 52%;
    right: -10%;
    bottom: 0;
    z-index: 5; }
  .animate.about_conent .ani_2 {
    width: 40%;
    right: 27%;
    bottom: 5%;
    -webkit-animation: redKid 1s infinite alternate both;
    animation: redKid 1s infinite alternate both;
    -webkit-animation-delay: -5s;
    animation-delay: -5s; }
  .animate.about_conent .ani_3 {
    width: 33%;
    right: 10%;
    top: 10%;
    -webkit-animation: blueKid 1s infinite alternate both;
    animation: blueKid 1s infinite alternate both;
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .animate.about_conent .ani_4 {
    width: 25%;
    left: 25%;
    top: 10%;
    -webkit-animation: flower 1s infinite alternate both;
    animation: flower 1s infinite alternate both;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes redKid {
  0% {
    right: 20%; }
  100% {
    right: 25%; } }

@keyframes redKid {
  0% {
    right: 20%; }
  100% {
    right: 25%; } }

@-webkit-keyframes blueKid {
  0% {
    top: 5%; }
  100% {
    top: 10%; } }

@keyframes blueKid {
  0% {
    top: 5%; }
  100% {
    top: 10%; } }

@-webkit-keyframes flower {
  0% {
    left: 20%;
    top: 5%; }
  100% {
    left: 25%;
    top: 10%; } }

@keyframes flower {
  0% {
    left: 20%;
    top: 5%; }
  100% {
    left: 25%;
    top: 10%; } }

.animate.intro_content {
  border: 1px solid green;
  width: 382px;
  height: 460px;
  position: relative;
  cursor: pointer; }
  .animate.intro_content .item {
    position: absolute; }
  .animate.intro_content .ani_1 {
    width: 67%;
    left: 0%;
    bottom: 0;
    z-index: 10; }
  .animate.intro_content .ani_4 {
    width: 65%;
    left: 30%;
    top: 12%; }
  .animate.intro_content .group {
    width: 57%;
    height: 90%;
    left: 42%;
    top: 0; }
    .animate.intro_content .group .ani_2 {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3; }
    .animate.intro_content .group .ani_3 {
      width: 50%;
      position: absolute;
      left: 40%;
      top: 50%;
      z-index: 6;
      -webkit-animation: arms infinite 1s alternate both;
      animation: arms infinite 1s alternate both; }
  .animate.intro_content.active .ani_1 {
    -webkit-animation: yellowＲectangle 1.5s alternate both;
    animation: yellowＲectangle 1.5s alternate both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .animate.intro_content.active .group {
    -webkit-animation: girl 1.5s alternate both;
    animation: girl 1.5s alternate both;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .animate.intro_content.active .ani_4 {
    -webkit-animation: blueCircle 1.5s alternate both;
    animation: blueCircle 1.5s alternate both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

@-webkit-keyframes yellowＲectangle {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

@keyframes yellowＲectangle {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

@-webkit-keyframes girl {
  0% {
    left: -100%; }
  100% {
    left: 42%; } }

@keyframes girl {
  0% {
    left: -100%; }
  100% {
    left: 42%; } }

@-webkit-keyframes arms {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

@keyframes arms {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

@-webkit-keyframes blueCircle {
  0% {
    left: -100%; }
  100% {
    left: 30%; } }

@keyframes blueCircle {
  0% {
    left: -100%; }
  100% {
    left: 30%; } }

.animate.deco_star {
  border: 1px solid green;
  width: 178px;
  height: 230px;
  position: relative;
  cursor: pointer; }
  .animate.deco_star .item {
    position: absolute; }
  .animate.deco_star .ani_1 {
    width: 35%;
    left: 0;
    -webkit-animation: rotateRight 1s infinite alternate both;
    animation: rotateRight 1s infinite alternate both; }
  .animate.deco_star .ani_2 {
    width: 38%;
    right: 0;
    top: 15%;
    -webkit-animation: rotateLeft 1s infinite alternate both;
    animation: rotateLeft 1s infinite alternate both; }
  .animate.deco_star .ani_3 {
    width: 70%;
    left: 10%;
    bottom: 0;
    -webkit-animation: rotateRight 1s infinite alternate both;
    animation: rotateRight 1s infinite alternate both; }

@-webkit-keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); } }

@keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); } }

@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); } }

@keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); } }

.animate.feature_content {
  border: 1px solid green;
  width: 736px;
  height: 602px;
  position: relative;
  cursor: pointer; }
  .animate.feature_content .item {
    position: absolute; }
  .animate.feature_content .ani_1 {
    width: 51%;
    right: 0;
    bottom: 0;
    z-index: 7; }
  .animate.feature_content .ani_2 {
    width: 43%;
    right: 35%;
    bottom: 4%;
    z-index: 6;
    -webkit-animation: redKid 1s infinite alternate both;
    animation: redKid 1s infinite alternate both; }
  .animate.feature_content .ani_3 {
    width: 44%;
    right: 25%;
    top: 10%;
    z-index: 6;
    -webkit-animation: orangeKid 1s infinite alternate both;
    animation: orangeKid 1s infinite alternate both; }
  .animate.feature_content .ani_4 {
    width: 78%;
    left: 10%; }
  .animate.feature_content .ani_5 {
    width: 9%;
    top: 25%;
    left: 10%;
    -webkit-animation: rotateWave 1s infinite alternate both;
    animation: rotateWave 1s infinite alternate both; }
  .animate.feature_content .ani_6 {
    width: 8%;
    top: 28%;
    left: 5%;
    -webkit-animation: star 1s infinite alternate both;
    animation: star 1s infinite alternate both; }

@keyframes redKid {
  0% {
    right: 30%; }
  100% {
    right: 35%; } }

@-webkit-keyframes orangeKid {
  0% {
    right: 20%;
    top: 15%; }
  100% {
    right: 25%;
    top: 10%; } }

@keyframes orangeKid {
  0% {
    right: 20%;
    top: 15%; }
  100% {
    right: 25%;
    top: 10%; } }

@-webkit-keyframes rotateWave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

@keyframes rotateWave {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

@-webkit-keyframes star {
  0% {
    top: 30%;
    left: 10%; }
  100% {
    top: 28%;
    left: 5%; } }

@keyframes star {
  0% {
    top: 30%;
    left: 10%; }
  100% {
    top: 28%;
    left: 5%; } }

.animate.feature_content_2 {
  border: 1px solid green;
  width: 606px;
  height: 368px;
  position: relative;
  cursor: pointer; }
  .animate.feature_content_2 .item {
    position: absolute; }
  .animate.feature_content_2 .group {
    width: 90%; }
  .animate.feature_content_2 .ani_1 {
    width: 100%;
    left: 100%;
    top: 0; }
  .animate.feature_content_2 .ani_2 {
    width: 22%;
    left: 35%;
    top: 10%;
    z-index: 2;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-animation: earMove 1s infinite alternate;
    animation: earMove 1s infinite alternate; }
  .animate.feature_content_2 .ani_3 {
    width: 14%;
    right: -10%;
    top: 45%;
    -webkit-animation: flowerMove 2s ease-in-out infinite alternate both;
    animation: flowerMove 2s ease-in-out infinite alternate both; }

@-webkit-keyframes earMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes earMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes eleMove {
  0% {
    left: -100%; }
  100% {
    left: 0%; } }

@keyframes eleMove {
  0% {
    left: -100%; }
  100% {
    left: 0%; } }

@-webkit-keyframes flowerMove {
  0% {
    right: -8%;
    top: 45%;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  55% {
    right: -15%; }
  100% {
    right: 0%;
    top: 0%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes flowerMove {
  0% {
    right: -8%;
    top: 45%;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  55% {
    right: -15%; }
  100% {
    right: 0%;
    top: 0%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.animate.footer_castle {
  border: 1px solid green;
  width: 390px;
  height: 536px;
  position: relative;
  cursor: pointer; }
  .animate.footer_castle .item {
    position: absolute; }
  .animate.footer_castle .ani_1 {
    width: 23%;
    left: 58%;
    top: 15%;
    -webkit-animation: flag 2s ease-in-out infinite alternate both;
    animation: flag 2s ease-in-out infinite alternate both; }
  .animate.footer_castle .ani_2 {
    width: 100%;
    left: 0;
    bottom: 0; }

@-webkit-keyframes flag {
  0% {
    top: 15%; }
  100% {
    top: 0%; } }

@keyframes flag {
  0% {
    top: 15%; }
  100% {
    top: 0%; } }

.animate.footer_grass {
  border: 1px solid green;
  width: 1080px;
  height: 234px;
  position: relative;
  cursor: pointer; }
  .animate.footer_grass .item {
    position: absolute; }
  .animate.footer_grass .ani_1 {
    width: 100%;
    left: 0;
    bottom: 0; }
  .animate.footer_grass .ani_2 {
    width: 10%;
    left: 15%;
    top: 52%;
    -webkit-animation: glass 1s ease-in-out infinite alternate both;
    animation: glass 1s ease-in-out infinite alternate both; }
  .animate.footer_grass .ani_3 {
    width: 13%;
    left: 33%;
    top: 10%;
    -webkit-animation: bearRotate 1.5s linear infinite alternate both;
    animation: bearRotate 1.5s linear infinite alternate both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

@-webkit-keyframes glass {
  0%,
  50% {
    left: 15%; }
  100% {
    left: 18%; } }

@keyframes glass {
  0%,
  50% {
    left: 15%; }
  100% {
    left: 18%; } }

@-webkit-keyframes bearRotate {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); } }

@keyframes bearRotate {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); } }

.animate.feature_card_1 {
  border: 1px solid green;
  width: 276px;
  height: 218px;
  position: relative;
  cursor: pointer; }
  .animate.feature_card_1 .item {
    position: absolute; }
  .animate.feature_card_1 .ani_1 {
    width: 50%;
    left: 0;
    bottom: 0; }
  .animate.feature_card_1 .ani_2 {
    width: 14%;
    left: 2%;
    bottom: 10%;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: armRotateLeft 1s infinite alternate both;
    animation: armRotateLeft 1s infinite alternate both; }
  .animate.feature_card_1 .ani_3 {
    width: 50%;
    right: 0;
    bottom: 0; }
  .animate.feature_card_1 .ani_4 {
    width: 14%;
    right: 2%;
    bottom: 10%;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: armRotateRight 1s infinite alternate both;
    animation: armRotateRight 1s infinite alternate both; }
  .animate.feature_card_1 .ani_5 {
    width: 14%;
    top: 45%;
    left: 18.5%; }
  .animate.feature_card_1 .ani_6 {
    width: 14%;
    top: 45%;
    right: 18%; }
  .animate.feature_card_1 .ani_5,
  .animate.feature_card_1 .ani_6 {
    -webkit-animation: mouseUp 1s ease-in-out infinite alternate both;
    animation: mouseUp 1s ease-in-out infinite alternate both; }

@-webkit-keyframes mouseUp {
  0%,
  50% {
    top: 46%; }
  100% {
    top: 42%; } }

@keyframes mouseUp {
  0%,
  50% {
    top: 46%; }
  100% {
    top: 42%; } }

@-webkit-keyframes armRotateLeft {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

@keyframes armRotateLeft {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

@-webkit-keyframes armRotateRight {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); } }

@keyframes armRotateRight {
  0%,
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); } }

.animate.feature_card_2 {
  border: 1px solid green;
  width: 270px;
  height: 212px;
  position: relative;
  cursor: pointer; }
  .animate.feature_card_2 .item {
    position: absolute; }
  .animate.feature_card_2 .ani_1 {
    width: 44%;
    left: 0;
    bottom: 0; }
  .animate.feature_card_2 .ani_2 {
    width: 20%;
    left: 12%;
    bottom: 10%;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: thinkRotate 1s ease infinite alternate both;
    animation: thinkRotate 1s ease infinite alternate both; }
  .animate.feature_card_2 .ani_3 {
    width: 56%;
    right: 0;
    bottom: 0; }
  .animate.feature_card_2 .ani_4 {
    width: 65%;
    bottom: 5%;
    right: 5%;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-animation: paperRotate 1s ease infinite alternate both;
    animation: paperRotate 1s ease infinite alternate both; }
  .animate.feature_card_2 .ani_5 {
    width: 8%;
    left: 48%;
    -webkit-animation: markRotate 1s ease infinite alternate both;
    animation: markRotate 1s ease infinite alternate both; }

@-webkit-keyframes thinkRotate {
  0%,
  50% {
    bottom: 10%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    bottom: 15%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); } }

@keyframes thinkRotate {
  0%,
  50% {
    bottom: 10%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    bottom: 15%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); } }

@-webkit-keyframes paperRotate {
  0%,
  50% {
    bottom: 5%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    bottom: 8%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

@keyframes paperRotate {
  0%,
  50% {
    bottom: 5%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    bottom: 8%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

@-webkit-keyframes markRotate {
  0%,
  60% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

@keyframes markRotate {
  0%,
  60% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); } }

.animate.feature_card_3 {
  border: 1px solid green;
  width: 300px;
  height: 198px;
  position: relative;
  cursor: pointer; }
  .animate.feature_card_3 .item {
    position: absolute; }
  .animate.feature_card_3 .ani_1 {
    width: 52%;
    left: 0;
    bottom: 0;
    -webkit-animation: moveRight 0.8s ease infinite alternate both;
    animation: moveRight 0.8s ease infinite alternate both; }
  .animate.feature_card_3 .ani_2 {
    width: 48%;
    right: 0;
    bottom: 0;
    -webkit-animation: moveLeft 0.8s ease infinite alternate both;
    animation: moveLeft 0.8s ease infinite alternate both; }
  .animate.feature_card_3 .ani_3,
  .animate.feature_card_3 .ani_4,
  .animate.feature_card_3 .ani_5 {
    -webkit-animation: opacity 0.8s ease infinite alternate both;
    animation: opacity 0.8s ease infinite alternate both; }
  .animate.feature_card_3 .ani_3 {
    width: 8.6%;
    left: 47%;
    top: 35%;
    -webkit-animation-delay: -2s;
    animation-delay: -2s; }
  .animate.feature_card_3 .ani_4 {
    width: 12%;
    left: 42%;
    top: 55%;
    -webkit-animation-delay: -3s;
    animation-delay: -3s; }
  .animate.feature_card_3 .ani_5 {
    width: 13%;
    left: 28%;
    top: 75%;
    -webkit-animation-delay: -4s;
    animation-delay: -4s; }

@-webkit-keyframes moveLeft {
  0% {
    right: 0; }
  100% {
    right: 5%; } }

@keyframes moveLeft {
  0% {
    right: 0; }
  100% {
    right: 5%; } }

@-webkit-keyframes moveRight {
  0% {
    left: 0; }
  100% {
    left: 5%; } }

@keyframes moveRight {
  0% {
    left: 0; }
  100% {
    left: 5%; } }

@-webkit-keyframes opacity {
  0%,
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0%,
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animate.footer_end {
  border: 1px solid green;
  width: 506px;
  height: 298px;
  position: relative;
  cursor: pointer; }
  .animate.footer_end .item {
    position: absolute; }
  .animate.footer_end .ani_1 {
    width: 38.5%; }
  .animate.footer_end .ani_2 {
    width: 17%; }
  .animate.footer_end .ani_3 {
    width: 27%; }
  .animate.footer_end .ani_4 {
    width: 36.5%; }

@-webkit-keyframes slideUp {
  0%,
  30% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  70% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slideUp {
  0%,
  30% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  70% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%); }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
  .animate.footer_end .ani_1 {
    left: 0; }
  .animate.footer_end .ani_2 {
    left: 30%;
    bottom: 15%;
    z-index: 4; }
  .animate.footer_end .ani_3 {
    left: 45%;
    top: 15%; }
  .animate.footer_end .ani_4 {
    right: 0;
    top: 10%; }
  .animate.footer_end.active .ani_1,
  .animate.footer_end.active .ani_2,
  .animate.footer_end.active .ani_3,
  .animate.footer_end.active .ani_4 {
    -webkit-animation: slideUp 0.8s ease alternate both;
    animation: slideUp 0.8s ease alternate both; }
  .animate.footer_end.active .ani_1 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .animate.footer_end.active .ani_2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .animate.footer_end.active .ani_3 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .animate.footer_end.active .ani_4 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
