@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
// // font-family: 'Noto Sans TC', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// // font-family: 'Roboto', sans-serif;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: transparent;
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.8;
  position: relative;

  &.fixed {
    overflow: hidden;
  }
}

img,
a {
  display: block;
  @extend %transition-cubic;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

.web-display {
  @include web-display;
}

.mob-display {
  @include mob-display;
}

// 文字 ============
//h1~p降級 < 768px
// @include media-breakpoint-down(sm) {
//   @include create-heading-type-scale(major-second);
// }

// input ============
input,
input::placeholder {
  color: $main-gray;
  font-size: 0.9rem;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

// div ============

.main_box {
  @extend %basic-shadow;
  background-color: $white;
  padding: 15px;
  @include border-basic-radius(10px);
}

.dflex {
  @include Dflex-alignCenter;
}

.card,
.shadow-basic,
.tab_menu,
.block_content {
  @extend %basic-shadow;
}

.card {
  border: none;
}

// 0718 AB 我把content 關於版型的部分 移到 _layout.scss
// .content {
//   // wrapper 有下 member的區塊調整
//   .member_wrap & {
//     margin-top: 0px;
//   }
//   margin:60px auto;
//   min-height: 500px;

//   @include media-breakpoint-down(md) {

//     margin: 40px auto;
//     min-height: 400px;
//     .member_wrap & {
//       margin: 0px;
//     }
//   }
// }

.inner_block {
  margin: 35px auto;
}

//店家資訊(店家列表/店家資訊)
// .shop_detail {
//   p {
//     margin-right: 1.1rem;
//   }

//   span {
//     color: $secondary;
//   }
// }

/*--------右邊置頂按鈕--------*/
.scrollToTop {
  -webkit-overflow-scrolling: touch;
  display: block;
  text-align: center;
  color: $white;
  position: fixed;
  right: 20px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  z-index: 300;
  transform: scale(1, 1);
  bottom: 00px;
  background-color: $primary-color;
  border: 1px solid $white;
  opacity: 0;
  visibility: hidden;
  @include transition-cubic;
  @include basic-shadow;

  svg {
    margin: 0;
    margin-top: 12px;
  }

  &:hover {
    text-decoration: none;
    color: $white;
    transform: scale(1.1, 1.1);
    @include transition-cubic;
  }

  &.scrollToTop.show {
    bottom: 40px;
    opacity: 1;
    visibility: visible;

    @include media-breakpoint-down(md) {
      bottom: 80px;
    }
  }
}

/*--------右邊置頂按鈕 END--------*/
