.main {
    border: 2px solid purple;
    padding-top: 228px;
    overflow: hidden;
    position: relative;
    @include media-breakpoint-down(xl) {
        padding-top: 198px;
    }
    @include media-breakpoint-down(md) {
        padding-top: 90px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 78px;
    }
}

// 動畫
section {
    // border: 1px solid red;
    position: relative;
    // margin-bottom: 190px;
    padding: 120px 0;
    @include media-breakpoint-down(md) {
        padding: 100px 0;
    }

    &:first-child {
        padding-top: 0;
    }
    &:nth-child(-n + 4) {
        border: 2px solid brown;
        margin-bottom: 100px;
    }
    // 動畫
    .animate {
        &.about_conent {
            position: absolute;
            border: 0;
            top: -115px;
            right: -30px;
            z-index: -1;
        }
        &.intro_content {
            position: absolute;
            left: -30px;
            top: -120px;
            z-index: -1;
        }
        &.feature_content {
            position: absolute;
            right: -160px;
            top: -300px;
        }
        &.feature_content_2 {
            position: absolute;
            bottom: -180px;
            left: -80px;
        }
    }
}
.main_end_animate {
    position: relative;
    width: 100%;
    .leftbox {
        position: absolute;
        right: 10%;
        bottom: 0;
    }
    .rightbox {
        position: absolute;
        right: 0%;
        bottom: 0;
    }
}

// 背景圖設置
.bg_video {
    background: url(../images/bg_video.png) center center no-repeat;
    background-size: contain;
    @include media-breakpoint-down(md) {
        background: none;
    }
}
.bg_intro {
    background: url(../images/bg_intro.png) left bottom no-repeat;
    background-size: 50% auto;
    @include media-breakpoint-down(md) {
        background: none;
    }
}
.bg_platform {
    background: url(../images/bg_paltform.png) center bottom no-repeat;
    background-size: contain;
    @include media-breakpoint-down(md) {
        background: none;
    }
}
.bg_recommend {
    background: url(../images/bg_recommend.png) center center no-repeat;
    background-size: contain;
    @include media-breakpoint-down(md) {
        background: none;
    }
}

// 內文
.content {
    position: relative;
    @include media-breakpoint-down(md) {
        height: 172px;
    }
}
.content.unfold {
    height: 100%;
}

.container {
    position: relative;
}

// 關於小愛爸爸公益平台
.about {
    .web_title {
        @include img-title-web(10);
    }

    .phone_title {
        @include img-title-phone(4);
    }

    p {
        line-height: 2;
    }

    .d-flex {
        flex-wrap: nowrap;
        align-items: center;
        ._img_box {
            margin-bottom: 32px;
            border-radius: 35%;
        }
        .image {
            padding-right: 40px;
        }

        @include media-breakpoint-down(md) {
            align-items: stretch;
        }
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            .image {
                padding-right: 15px;
            }
        }
    }
    //開關鈕
    .flip {
        left: 15px;
    }
}

// 影片
.video_block {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;

    @include media-breakpoint-down(lg) {
        width: 80%;
    }

    @include media-breakpoint-down(md) {
        width: 93%;
    }

    p {
        margin-bottom: 18px;
    }

    ._sub_btn {
        // max-width: 185px;
        width: fit-content;
        position: absolute;
        right: 0px;
        bottom: -60px;
        font-size: 1.5rem;
        line-height: 48px;
        a {
            line-height: 42px;
            div {
                height: 42px;
                padding: 0 18px;
                border-radius: 12%/50%;
                &::before {
                    height: 42px;
                    width: 42px;
                    left: -21px;
                }
                &::after {
                    height: 42px;
                    width: 42px;
                    right: -21px;
                }
            }
        }
        svg {
            font-size: 1.5rem;
        }

        @include media-breakpoint-down(sm) {
            font-size: 1.25rem;
            position: static;
            margin: 0 auto;
            svg {
                font-size: 1.25rem;
            }
        }
    }
}

// 小愛爸爸-謝國樑介紹
.dad {
    // 電腦版大標
    .web_title {
        @include img-title-web(9.5);
    }
    // 手機版大標
    .phone_title {
        @include img-title-phone(5);
        margin-left: auto;
    }

    // 照片
    .image {
        padding-left: 40px;
        position: relative;
        // 動畫
        .animate {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        .d-flex {
            flex-wrap: wrap-reverse;
            .image {
                padding: 0 15px;
            }
        }
    }
}

// 公益成果
.work_section {
    .web_title {
        @include img-title(4);
    }
}

// 平台三大特色
.platform_section {
    .web_title {
        @include img-title-web(6);
    }
    .phone_title {
        @include img-title-phone(4);
        margin: 0 auto 32px;
    }
}

.platform {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.slick-slide {
    img.a {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    img.b {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}
