// slider 內容樣式
.work-page {
    background-color: white;
    border-radius: 50px;
    padding: 24px;
    margin: 0 40px;
    transition: opacity 1s ease;
    @include basic-shadow;

    p {
        margin-bottom: 0;
    }

    ._img_box {
        padding-bottom: 50%;
        border-radius: 7%/14%;
        @include media-breakpoint-down(xl) {
            margin-bottom: 20px;
        }
        img {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .col-md-7 {
        @include media-breakpoint-down(lg) {
            height: 94px;
            margin: 0 0 16px 0;
        }

        @include media-breakpoint-down(sm) {
            height: 90px;
            flex: 0 0 0;
        }
        &.unfold {
            height: auto;
        }
    }

    .flip {
        left: 15px;
        width: calc(100% - 30px);
        @include media-breakpoint-down(lg) {
            display: block;
        }
    }

    @include media-breakpoint-up(md) {
        & .d-flex:nth-child(-n + 2) {
            border-bottom: 1px solid #707070;
        }
    }
}

.slider {
    margin-bottom: 100px;
}

.platform_card {
    // *{ border: 1px solid red;}
    background-color: #ffffff;
    max-width: 350px;
    width: 32%;
    padding: 24px;
    border-radius: 30px;
    @include basic-shadow;

    p {
        font-size: 1.125rem;
        @include media-breakpoint-down(md) {
            font-size: 1rem;
        }
    }
    ._sub_btn {
        line-height: 42px;
        margin: 0 auto 48px;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        a {
            cursor: text;
            div {
                z-index: 3;
                height: 42px !important;
                border-radius: 17%/50%;
            }
        }

        @include media-breakpoint-down(md) {
            font-size: 1.125rem;
            font-weight: 500;
        }
    }

    ._img_box {
        width: 80%;
        padding-bottom: 75%;
        margin: 0 auto 36px;
    }

    hr {
        border-top: 1px solid #707070;
    }

    &:nth-child(-n + 2) {
        margin-right: 8px;
    }
}

.refer {
    .refer_card {
        @include Dflex;
        justify-content: center;
        margin-bottom: 80px;

        // 頭像
        .avatar {
            width: 20%;
            padding: 0%;

            ._img_box {
                border-radius: 50%;
                box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.2);
            }
            @include media-breakpoint-down(sm) {
                width: 50%;
            }
        }

        // 文字
        .content {
            @include Dflex;
            justify-content: center;
            align-items: center;
            width: 80%;
            background-color: #ffffff;
            border-radius: 60px;
            box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
            z-index: -1;
            p {
                max-height: 145px;
                overflow: auto;
            }
            @include media-breakpoint-down(xl) {
               h3{ font-size: 1.1rem;}
            }
            @include media-breakpoint-down(sm) {
                width: 90%;
                margin-top: -6%;
                div {
                    max-height: 150px;
                }
                p {
                    max-height: 120px;
                    overflow: auto;
                }
            }
        }

        // 文字左右樣式
        &.text_right {
            .content {
                margin-left: -6%;
                padding: 12px 5% 12px 9%;
            }
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                align-items: center;
                .content {
                    margin-left: 0;
                    padding: 10% 5% 12px 5%;
                }
            }
        }

        &.text_left {
            .content {
                margin-right: -6%;
                padding: 12px 9% 12px 5%;
                h3 {
                    text-align: end;
                    margin-bottom: 8px;
                }
            }
            @include media-breakpoint-down(sm) {
                flex-direction: column-reverse;
                align-items: center;
                .content {
                    margin-right: 0;
                    padding: 10% 5% 12px 5%;
                    h3 {
                        text-align: start;
                    }
                }
            }
        }
    }
}

//文章伸縮按鈕
.flip {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: calc(100% - 30px);
    border-bottom: 2px solid $secondary;
    color: $secondary;
    cursor: pointer;
    font-size: 0.9rem;
    i {
        background-image: url(../image/plus.png);
        width: 12px;
        height: 12px;
        border: 0px;
        margin: 0 10px 0 0;
        background-size: cover;
        display: inline-block;
    }

    @include media-breakpoint-down(md) {
        display: block;
    }
}
// 平台卡片樣式
