.animate{
    border: 1px solid #eee;
    img{ width: 100%; height: auto;}
    &.overflowHidden{ overflow: hidden;}
}
//  .menu 暫時排版用 正式要拿掉
.menu{ display: flex;
    .animate{ margin: 0 20px;}
}

@mixin size($w,$h) {
    width: $w;
    height: $h;
    position: relative;
    cursor: pointer;
}

.about{
    @include size(136px, 134px);
  
    .item{ position: absolute;}
    @for $i from 1 to 6 {
        .ani_#{$i}{
            transition: all .3s linear;
        }
    }
    .ani_1{left: 0; top: 0; width: 68%; }
    .ani_2{left: 0; bottom: 0; width: 68%; z-index: 2;}
    .ani_3{right: 0; bottom: 0; width: 50%;}
    .ani_4{right: 20%; bottom: 10%; width: 50%; z-index: 4;}
    .ani_5{right: 55%; bottom: 20%; width: 25%; z-index: 3;}
    &:hover{
        .ani_1{ left: 3%;}
        .ani_2{ left: 5%; transform: rotate(-3deg);}
        .ani_3{right: 3%;}
        .ani_4{ transform-origin: bottom right; transform: rotate(5deg);}
        .ani_5{ transform-origin: bottom right; transform: rotate(15deg);right: 53%;}
    }
}


.intro{
    @include size(126px, 133px);
    @for $i from 1 to 6 {
        .ani_#{$i}{
            transition: all .3s linear;
        }
    }
    .item{ position: absolute;}
    .ani_1{ left: 0; bottom: 0; width: 100%; }
    .ani_2{ left: 32%; top: 42%; width: 12%;}
    .ani_3{ right: 0; top: 8%; width: 19%;}
    .ani_4{ left: 24%; top: 25%; width: 29%;} 
    .ani_5{ left: 0; bottom: 5%; width: 58%;}

    &:hover{
        .ani_1{}
        .ani_2{top: 40%;}
        .ani_3{top: 0;}
        .ani_4{top: 23%;}
        .ani_5{ transform: rotate(-15deg);}
    }
}

.works{
    @include size(126px, 132px);
    @for $i from 1 to 5 {
        .ani_#{$i}{
            transition: all .3s linear;
        }
    }
    .item{ position: absolute;}
    .ani_1{ width: 71%; right: 0; bottom: 0;}
    .ani_2{ width: 54%; right: 10%; top: 0;}
    .ani_3{ width: 55%; left: 5%; bottom: 0;}
    .ani_4{ width: 60%; right: 5%; bottom: 0;} 
    
    &:hover{
        .ani_1{}
        .ani_2{ transform: rotate(5deg);}
        .ani_3{ left: 0%;}
        .ani_4{ right: 10%;}
    }
}

.feature{
    @include size(155px, 122px);
    @for $i from 1 to 6 {
        .ani_#{$i}{
            transition: all .3s linear;
        }
    }
    .item{ position: absolute;}
    .ani_1{ width: 55%; left: 0; bottom: 0;}
    .ani_2{ width: 45%; right: 0; bottom: 0;}
    .ani_3{ width: 30%; left: 25%; bottom: 0%;transform-origin: center left;}
    .ani_4{ width: 30%; right: 15%; bottom: 0%; transform-origin: center right;}
    .ani_5{ width: 13%;left: 50%;}

    &:hover{
        .ani_1{ left: -3%;}
        .ani_2{ right: -3%;}
        .ani_3{ left: 29%; transform: rotate(-60deg);}
        .ani_4{ right: 19%;transform: rotate(60deg);}
        .ani_5{ transform: rotate(-20deg); left: 52%;}
    }
}

.about_conent{
    @include size(718px, 514px);
    .item{ position: absolute;}
    .ani_1{width: 52%; right: -10%; bottom: 0; z-index: 5;}
    .ani_2{width: 40%; right: 27%; bottom: 5%; animation: redKid 1s infinite alternate both;
        animation-delay: -5s;
    }
    .ani_3{width: 33%; right: 10%; top: 10%; animation: blueKid 1s infinite alternate both; animation-delay: -1s;}
    .ani_4{width: 25%; left: 25%; top: 10%; animation: flower 1s infinite alternate both;
        animation-delay: -0.8s;}
    .ani_5{ }

    @keyframes redKid {
        0%{right: 20%;}
        100%{ right: 25%;}
    }

    @keyframes blueKid {
        0%{top: 5%;}
        100%{top: 10%;}
    }

    @keyframes flower {
        0%{left: 20%; top: 5%;}
        100%{left: 25%; top: 10%;}
    }

}

.intro_content{
    @include size(382px, 460px);
    .item{ position: absolute;}
    .ani_1{ width: 67%; left: 0%; bottom: 0; z-index: 10;}
   
    .ani_4{ width: 65%; left: 30%; top: 12%;}
    .group{width: 57%; height: 90%; left: 42%; top: 0;
        .ani_2{ width: 100%; position: absolute; left: 0; top: 0; z-index: 3;}
        .ani_3{ width: 50%;position: absolute; left: 40%; top: 50%; z-index: 6; animation:arms infinite  1s alternate both;}
    }
    &.active{
        .ani_1{ animation:yellowＲectangle 1.5s alternate both; animation-delay: 1s;}
        .group{ animation:girl 1.5s alternate both; animation-delay: 1.5s;}
        .ani_4{ animation:blueCircle 1.5s alternate both; animation-delay: 2s;}
    }

    @keyframes yellowＲectangle {
        0%{left: -100%;}
        100%{ left: 0;}
        
    }

    @keyframes girl {
        0%{left: -100%;}
        100%{ left: 42%;}
    }

    @keyframes arms {
        0%{transform: rotate(0deg); }
        100%{ transform: rotate(10deg); }
    }

    @keyframes blueCircle {
        0%{left: -100%;}
        100%{ left: 30%;}
    }
}